body {
	background: #f2f2f2;
}
.outer-grid > div {
	padding: 20px; 
}
div.outer-grid {
	display: block;
	background-color: white;
	border-radius: 25px 25px 25px 25px;
	width: 580px;
  height: 240px;
  margin-left: 210px;
  margin-top: -535px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.15), 
              0px 4px 8px rgba(0,0,0,0.15), 
              0px 8px 16px rgba(0,0,0,0.15), 
              0px 16px 32px rgba(0,0,0,0.15);
}
/* Just a Cointainer */
div.tradingview-widget-container {
	width: 400px;
    height: 200px;
    margin-left: 0px;
}
/* Trading View Layout */
iframe {
	width: 540px;
  height: 200px;
  margin-bottom: -612px;
}

/* Column Area*/
.column {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

div.row {
	width: 400px;
	display: inline-block;
	margin-left: -20px;
	margin-top: 336px;
}
div.column1 {
	width: 280px;
	height: 140px;
	margin-left: 0px;
	display: block;
	border-radius: 25px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.15), 
              0px 4px 8px rgba(0,0,0,0.15), 
              0px 8px 16px rgba(0,0,0,0.15), 
              0px 16px 32px rgba(0,0,0,0.15);
}
div.column2 {
	width: 280px;
	height: 140px;
	margin-left: 300px;
	margin-top: -140px;
	display: block;
	border-radius: 25px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.15), 
              0px 4px 8px rgba(0,0,0,0.15), 
              0px 8px 16px rgba(0,0,0,0.15), 
              0px 16px 32px rgba(0,0,0,0.15);
}
div.column3 {
	width: 280px;
	height: 140px;
	margin-left: 300px;
	margin-top: 10px;
	display: block;
	border-radius: 25px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.15), 
              0px 4px 8px rgba(0,0,0,0.15), 
              0px 8px 16px rgba(0,0,0,0.15), 
              0px 16px 32px rgba(0,0,0,0.15);
}
div.column4 {
	width: 280px;
	height: 140px;
	margin-left: 0px;
	margin-top: -140px;
	display: block;
	border-radius: 25px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.15), 
              0px 4px 8px rgba(0,0,0,0.15), 
              0px 8px 16px rgba(0,0,0,0.15), 
              0px 16px 32px rgba(0,0,0,0.15);
}
div.column5 {
  position: relative;
  width: 400px;
  height: 380px;
  margin-left: 590px;
  margin-top: -385px;
  display: block;
  border-radius: 25px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.15), 
              0px 4px 8px rgba(0,0,0,0.15), 
              0px 8px 16px rgba(0,0,0,0.15), 
              0px 16px 32px rgba(0,0,0,0.15);
}
div.column5-TotalPowerConsumption {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 12px;
  top: 20px;
  background-color: #e6e6e6;
  width: 160px;
  height: 180px;
  left: 20px;
}
div.column5-PowerUsage {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 12px;
  top: -160px;
  background-color: #e6e6e6;
  width: 160px;
  height: 180px;
  left: 220px;
}
p.p1 {
	position: relative;
	top: 8px;
	color: black;
}
p.p2 {
	position: relative;
	top: 8px;
	color: black;
}
p.p3 {
	position: relative;
	top: 8px;
	color: black;
}
p.p4 {
	position: relative;
	top: 8px;
	color: black;
}
p.p5 {
  position: relative;
  top: 20px;
  left: 20px;
  color: black;
}
p.p5-TotalPowerConsumption {
  font-size: 12px;
  position: relative;
  top: 10px;
  left: 12px;
}
p.p5-PowerUsage {
  font-size: 12px;
  position: relative;
  top: 10px;
  left: 46px;
}

@media (max-width: 1180px) {
  div.row {
    margin-top: 360px;
  }
  iframe {
  width: 500px;
  height: 200px;
  margin-bottom: -850px;
  }
}

@media (max-width: 379px) {
  div.row {
    margin-top: 140px;
  }
  iframe {
  width: 180px;
  height: 140px;
  margin-bottom: -545px;
  margin-left: -10px;
  }
  li {
    padding: 18px;
  }
}
/******************** Side Nav Bar  **************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

.header {
  width: 100%;
  height: 100%;
 /* background: #0d74f5; */
}

.side-nav {
  width: 200px;
  height: 100%;
  background: #0d74f5;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 30px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
}
.logo {
  display: block;
  margin-bottom: 20px;
  margin-left: 20px ;
}
.logo-img {
  width: 100px;
}
.nav-links{
  list-style: none;
  position: relative;
}
.nav-links li {
  padding: 18px 0;
}
.nav-links li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 14px;
  display: flex;
  align-items: center;
}
.nav-links li a i {
  font-size: 22px;
  margin-right: 20px;
}
.active {
  background: #fff;
  width: 100%;
  height: 47px;
  position: absolute;
  left: 0;
  top: 2.6%;
  z-index: -1;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
  display: none;
  transition: top 0.5s;
}
.image-con{
  width: 20px;
}
.nav-links li:hover a {
  color: #0d74f5;
  transition: 0.3s;
}
.nav-links li:hover ~.active{
  display: block;
}
.nav-links li:nth-child(1):hover ~ .active{
  top: 2.6%;
}
.nav-links li:nth-child(2):hover ~ .active{
  top: 20%;
}
.nav-links li:nth-child(3):hover ~ .active{
  top: 41%;
}
.nav-links li:nth-child(4):hover ~ .active{
  top: 61%;
}
.nav-links li:nth-child(5):hover ~ .active{
  top: 82%;
}
/* Ipad Air */
@media (max-width: 1180px) {
  .side-nav{
    width: 200px;
  }
  nav.links li {
    padding-bottom: 12px 0;
  }
  .logo {
  display: block;
  margin-bottom: 30px;
  margin-left: 20px ;
  }
  .logo-img {
    width: 100px;
  }
  .nav-links li:nth-child(1):hover ~ .active{
  top: 3%;
  }
  .nav-links li:nth-child(2):hover ~ .active{
    top: 22%;
  }
  .nav-links li:nth-child(3):hover ~ .active{
    top: 44%;
  }
  .nav-links li:nth-child(4):hover ~ .active{
    top: 64%;
  }
  .nav-links li:nth-child(5):hover ~ .active{
    top: 84%;
  }
}
/* My iPhone */
@media (max-width: 379px) {
  .side-nav{
    width: 60px;
  }
  .logo-icon {
    display: block;
    left: 10px;
  }
  .logo {
  display: block;
  margin-bottom: 50px;
  margin-left: -26px ;
  }
  .logo-img {
    width: 50px;
  }
  .nav-links li a i{
    margin-right: 0;
  }
  ul.nav-links {
    left: -18px;
  }
  .nav-links li a {
    justify-content: center;
  }
  .image-con {
    width: 30px;
  }
  .nav-links li a p {
    display: none;
  }
  .nav-links li:nth-child(2):hover ~ .active{
  top: 17%;
  }
  .nav-links li:nth-child(3):hover ~ .active{
  top: 38%;
  }
  .nav-links li:nth-child(4):hover ~ .active{
    top: 60%;
  }
  .nav-links li:nth-child(5):hover ~ .active{
    top: 82%;
  }
}

/*************************** Toggle Button **************************/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
} 

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
} 

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 3px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(28px);
}
.slider:after{
   content:'OFF';
   color: black;
   display: block;
   position: absolute;
   transform: translate(-50%,-50%);
   top: 50%;
   left: -100%;
   font-size: 10px;
   font-family: Verdana, sans-serif;
}

input:checked + .slider:after {  
  content:'ON';
  font-style: black;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
div.container1 {
	margin-left: 180px;
	margin-top: 10px;
}
div.container2 {
	margin-left: 180px;
	margin-top: 10px;
}
div.container3 {
	margin-left: 180px;
	margin-top: 10px;
}
div.container4 {
	margin-left: 180px;
	margin-top: 10px;
}
div.container5 {
  margin-left: 320px;
  margin-top: 0px;
}

/********************* Timer Widget ***********************/

div.body-timer{
  font-family: -apple-system, 
  BlinkMacSystemFont, 
  "Segoe UI", 
  Roboto, 
  Oxygen-Sans, 
  Ubuntu, 
  Cantarell, 
  "Helvetica Neue", 
  sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: -100px;
}
h1.headline {
  position: relative;
  top: 14px;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: .125rem;
  margin-right: center;
  margin-bottom: 0px;
}

li.li-timer {
  display: inline-block;
  font-size: 20px; /* The font of Days Word */
  list-style-type: none;
  padding: 5px;
  text-transform: uppercase;
  margin-top: -20px;
}

span#days, span#hours, span#minutes, span#seconds {
  margin-top: 40px;
  display: block;
  font-size: 30px; /* The Number of Clock */
}

div.container-timer {
  background-color: white;
  text-align: center;
  width: 400px;
  height: 140px;
  border-radius: 25px;
  margin-bottom: -560px;
  margin-left: 590px;
  position: relative;
  top: -18px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
ul.counter-layout {
  display: block;
  justify-content: center;
  padding: 0;
}

@media (max-width: 1180px) {
  h1.headline {
  font-size: 24px;
  font-weight: normal;
  letter-spacing: .125rem;
  margin-bottom: -20px;
  position: relative;
  top: 12px;
  }
  li.li-timer {
  display: inline-block;
  font-size: 20px; /* The font of Days Word */
  list-style-type: none;
  padding: 5px;
  text-transform: uppercase;
  margin-top: 2px;
  }
  div.container-timer {
  background-color: white;
  text-align: center;
  width: 370px;
  height: 140px;
  border-radius: 25px;
  margin-bottom: -805px;
  margin-left: 535px;
  position: relative;
  top: -20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  div.outer-grid {
  display: block;
  background-color: white;
  border-radius: 25px 25px 25px 25px;
  width: 540px;
  height: 240px;
  margin-left: 210px;
  }
  div.column1 {
  width: 260px;
  }
  div.column2 {
  width: 260px;
  margin-left: 280px;
  }
  div.column3 {
  width: 260px;
  margin-left: 280px;
  margin-top: 20px; /* Both Column 3 & 4 move together */
  }
  div.column4 {
  width: 260px;
  }
  .switch {
    position: relative;
    right: 20px;
  }
}

@media (max-width: 379px) {
  div.outer-grid {
    margin-left: 50px;
    width: 200px;
    height: 160px;
  }
  div.container-timer {
  
  margin-bottom: -805px;
  margin-left: -26px;
  position: relative;
  top: -80px;
  }
  .switch {
    right: 130px;
  }
  .slider:after {
    left: -20px;
  }
  div.column1 {
  width: 120px;
  }
  div.column2 {
  width: 120px;
  margin-left: 140px;
  }
  div.column3 {
  width: 120px;
  margin-left: 140px;
  }
  div.column4 {
  width: 120px;
  }
}
/******* Loading Animation **********/

h1.h1-loading {
  position: absolute;
  top: 60%; left: 40%;
  color: black;
  bottom: 80%;
}

@media (max-width: 375px) {
  h1.h1-loading {
  top: 60%;
  left: 40%;
  }
}

.blob-1,.blob-2{
  width:70px;
  height:70px;
  position:absolute;
  background:#fff;
  border-radius:50%;
  top:50%;left:50%;
  transform:translate(-50%,-50%);
}
.blob-1{
  left:20%;
  animation:osc-l 2.5s ease infinite;
  background-color: #9999ff;
}
.blob-2{
  left:80%;
  animation:osc-r 2.5s ease infinite;
  background:#0ff;
}
@keyframes osc-l{
  0%{left:20%;}
  50%{left:50%;}
  100%{left:20%;}
}
@keyframes osc-r{
  0%{left:80%;}
  50%{left:50%;}
  100%{left:80%;}
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}
@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
